*, html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    dispay: flex;
    background: #f6f6f6;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

.header {
    box-shadow: rgba(0,0,0, 0.4) 0 1px 1px -1px;
}

.nav {
    margin: auto;
    width: 450px;
    height: 20px;
}

.topnav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.topnav a{
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
    padding: 10px 10px 10px 10px;
}

.topnav a:active {
    border: 2px solid #ccccff;
    border-radius: 3px;
}

.upload-form {
    display: flex;
    justify-content: center;
}

.files {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.list-files {
    background: #fff;
    margin-top: 2rem;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.4) 0 1px 1px -1px;
    padding: 15px;
}

.input {
    list-style-type: none;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    margin: 10px;
    padding: 10px;
}


input[type=submit] {
    width: 20em;
    height: 2em;
    background-color: #dddddd;
    cursor: pointer;
    border: 1px solid #ddddff;
    box-shadow: inset 0px 20px 20px #ffffff;
    margin: 10px;
}

input[type=submit:hover] {
    box-shadow: inset 0px -20px 20px #ffffff;
}

input[type=submit:active] {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}


.file-link-item {
    list-style-type: none;
    margi*n: 10px;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    margin: 10px;
    padding: 10px;
}

.ext-items {
    margin: 1px;
    font-size: 12px;
    color: #aaa;
}

.list-files a {
    color: #000;
}

.error {
    color: #f00;
    list-style-type: none;
}

.links-items {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    nav {
    width: 100%;
    height: 50px;
    }
}