*, html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    dispay: flex;
    background: #F6F6F6;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

.header {
    box-shadow: rgba(0,0,0, 0.4) 0 1px 1px -1px;
}

.nav {
    margin: auto;
    width: 450px;
    height: 20px;
}

.topnav {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.topnav a {
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
    padding: 10px;
}

.topnav a:active {
    border: 2px solid #CCF;
    border-radius: 3px;
}

.upload-form {
    display: flex;
    justify-content: center;
}

.files {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.list-files {
    background: #FFF;
    margin-top: 2rem;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.4) 0 1px 1px -1px;
    padding: 15px;
}

.input {
    list-style-type: none;
    margin: 10px;
    border: 1px solid #DDD;
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
}

input[type=submit] {
    width: 20em;
    height: 2em;
    background-color: #DDD;
    cursor: pointer;
    border: 1px solid #DDF;
    box-shadow: inset 0px 20px 20px #FFF;
    margin: 10px;
}

input[type=submit:hover] {
    box-shadow: inset 0px -20px 20px #FFF;
}

input[type=submit:active] {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

.file-link-item {
    list-style-type: none;
    margin: 10px;
    border: 1px solid #DDD;
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
}

.ext-items {
    margin: 1px;
    font-size: 12px;
    color: #AAA;
}

.list-files a {
    color: #000;
}

.error {
    color: #F00;
    list-style-type: none;
}

.links-items {
    display: flex;
    justify-content: center;
}

.notice {
    width: 70%;
    margin: 0 auto 25px auto;
    padding: 30px 20px;
    margin-top: 10px;
    text-align: left;
    border-radius: 2px;
    cursor: default;
    background-color: #eee;
    box-shadow: rgba(0,0,0, 0.4) 0 1px 1px -1px;
}

.notice-name {
    font-size: 12px;
    font-weight: 700;
    color: red;
}

.notice-message {
    font-size: 8px;
    color: black;
}

@media screen and (max-width: 490px) {

    nav {
        width: 100%;
        height: 50px;
    }

    .notice {
    width: 100%;
    padding: 15px 10px;
    }
}
