language: php

# list any PHP version you want to test against
php:
  - 7.0
  - 7.1

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
script:
  - phpunit ./app/tests
  
