<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    </head>
    <body>
        <header class="header">
	    <nav>
		<div class="topnav" id="myTopnav">
		    {% for item in menu %}
		    <a href="{{ item.link|e }}"
		       {% if item.target %}
		       target="_{{ item.target }}"
		       {% endif %}
		    >
			{{ item.name|e }}
		    </a>
		    {% endfor %}
		</div>
	    </nav>
        </header>
	{% if notice %}
	<div class="notice">
	    <span class="notice-name">
		{{ notice.name }}
	    </span> : &nbsp;
	    <span class="motice-message">
		{{ notice.message }}
	    </span>
	</div>
	{% endif %}
