<main>
    <div class="upload-form">
        <div class="list-files">
	    <form action="/app/upload.php" method="POST" enctype="multipart/form-data"/>
	    <input type="hidden" value="101" name="test" />
	    <h1>Image Hosting :: Upload Form</h1>
	    <span class="ext-items"><p>Files supported: JPG, PNG, GIF</p></span>
	    <ul>
		<li class="input"><input class="files" name="pictures[]" type="file" multiple="true" min="1" max="10" /></li>
		<input type="submit" value="Send"/>
	    </ul>
                    </form>
	</div>
    </div>
</main>
</body>
</html>
